<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Playa</title>
</head>
<body>
<ul>
    {{$c := .Captain}}
    {{$t := .Team}}
    <li>{{$c}} - {{$t}}</li>
</ul>
</body>
</html>