<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

Without date formatting: {{.}}

With date formatting: {{mm_dd_yyyy .}}

With pipe date formatting {{ . | mm_dd_yyyy}}


</body>
</html>